html, body {
    margin: 0;
    min-height: 100%;
    left: 0;
}
body {
    background-color: #ddbeb6;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}

h1{
    margin: 10px;
    padding: 50px auto 0 auto;
    color:#75535b ;
    line-height: 1.5;
    font-family: 'Sacramento', cursive;
    font-size: 4rem ;/* 100% = 16px = 1em These will impact by the parent size. Use rem, it doesn't get affected*/
    /*width: 30%; */
    /*margin: 0 auto 0 auto; /* use with width to center */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#75535b ;
    padding: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#75535b ;
 }

hr {
    border-color: #c9b3ba;
    border-style: none;
    border-top-style: dotted;
    border-width: 0.5rem;
    width: 5%;
    margin: 80px auto;
}

p{
    line-height: 2;
}

span{
    visibility: hidden; /***take a postion**/
    display: none;/**no position taken**/
    display: inline-block;/*position to a line*/
}

img{
    height: 150px;
    width: 150px;  
}

a{
    color:#43272d;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#e4e4e4;
}

.container-fluid{
    background-color: #ddbeb6;   
    box-sizing: border-box;
}

.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.upper{
    background-color: #ddbeb6;
    padding: 20px;
    left: 0;
}

.intro{
    margin: auto;
    width: 50%;
    text-align: middle;
    font-size: 1.4rem;
}

.middle{
    margin: 100px, 0px, 200px, 0px;
    padding: 50px;
    padding-top: 100px;
    background-color: #ddbeb6;
}


#title{
    background-color: #ddbeb6;
    color:white;
}

/**nav bar**/
.navbar-brand{
    width:  95px;
    height: 110px;
    margin-left: 8%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #AC7D88;
}

.navbar{
    padding: 2.0rem 0 0.0rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.5rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 900;
}


#footer{
    width: 100%;
    background-color: #AC7D88;
    text-align: center;
    padding: 7% 15%;
}

.mountain{
    width: 50%;
    height: 25%;
}

.cloud_top {
    /*position: relative; /* relative does not change other boxes**/
    position: absolute; /* absolute change to the relative position the lower level background*/
    top:5%;
    right: 10%;
    margin: 0 auto 0 auto;
}

.cloud-middle{
    position: absolute; /* absolute change to the relative position the lower level background*/
    top:10%;
    left: 80%;
    animation: forwards;
    animation-duration: 2s;
    animation-name: move_top;
}

.cloud-bottom {
    /*position: relative; /* relative does not change other boxes**/
    position: absolute; /* absolute change to the relative position the lower level background*/
    top:10%;
    right: 80%;
    margin: 0 auto 0 auto;
    animation: forwards;
    animation-duration: 2s;
    animation-name: move_bottom;
}

@keyframes move_top {
    from {left: 80%;}
    to {top: 20%; left:70%;}
}

@keyframes move_bottom {
    from {right: 80%;}
    to {top: 20%; right:70%;}
}

.profile{
    background-color: #AC7D88;
    padding: 100px 0 250px;
}

.selfpic{
    margin-top: 150px;
}


.circular{
    border-radius: 100%;
}

.skill-row {
    width: 80%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 1.5;
}

.skillimg1{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.skillimg2{
    width: 90px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}


.skill-dp1{
    clear: left;
    text-align: left;
}

.skill-dp2{
    clear: left;
    text-align: left;
} 

.skill-dp3{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.text{
    color: black;
}


.contact-me{
    width: 70%;
    margin: 40px auto 60px;
    text-align: center;
}

.btn {
    background: #DEB6AB;
    background-image: -webkit-linear-gradient(top, #DEB6AB, #AC7D88);
    background-image: -moz-linear-gradient(top, #DEB6AB, #AC7D88);
    background-image: -ms-linear-gradient(top, #DEB6AB, #AC7D88);
    background-image: -o-linear-gradient(top, #DEB6AB, #AC7D88);
    background-image: linear-gradient(to bottom, #DEB6AB, #AC7D88);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #c995a5;
    background-image: -webkit-linear-gradient(top, #c995a5, #85586F);
    background-image: -moz-linear-gradient(top, #c995a5, #85586F);
    background-image: -ms-linear-gradient(top, #c995a5, #85586F);
    background-image: -o-linear-gradient(top, #c995a5, #85586F);
    background-image: linear-gradient(to bottom, #c995a5, #85586F);
    text-decoration: none;
  }

  .copyright{
      color:#d1d1d1;
      font-size: 0.75rem;
  }

  .left{
    text-align: right;
  }
